name: Create Release
on:
  workflow_dispatch:
    inputs:
      TAG:
        required: false

jobs:
  create-release:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Create Release
      uses: paketo-buildpacks/github-config/actions/release/create@main
      with:
        repo: ${{ github.repository }}
        token: ${{ secrets.PAKETO_BOT_GITHUB_TOKEN }}
        tag_name: ${{ github.event.inputs.TAG }}
        target_commitish: ${{ github.sha }}
        name: ${{ github.event.inputs.TAG }}
        body: "hi"
        draft: true

    - name: File Issue
      if: ${{ failure() }}
      run: |
        echo "${{ secrets.SOPHIE_GITHUB_TOKEN }}" | gh auth login --with-token
        release_issue=$(gh issue list --json number --label release-issue --jq .[0].number)

        if [ -n $release_issue ]; \
        then gh issue comment $release_issue --body "Another failure occurred: https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}"; \
        else gh issue create \
        --title "Failure: create-release workflow" \
        --label "release-issue" \
        --body "[Create release workflow](https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}) failed to run. Please take a look to ensure CVE patches can be released. (cc @paketo-buildpacks/stacks-maintainers)" \
        -R ${{github.repository}}; \
        fi
        echo $release_issue
